<section class="post">
    <header class="post-header">
        <h2 class="post-title"><a href="#/post/statistik/{{post._id}}">{{post.title}}</a></h2>
        <div class="post-meta"><i class="fa fa-bullseye"></i> Posted on {{post.created | date:'medium'}}</div>
        <div class="post-meta">
        	<ul class="list-inline">
                <i class="fa fa-tags"></i> 
                <li ng-repeat="tag in post.tags">
                    <a class="label label-success" href="#/tag/{{tag}}">{{tag}}</a>
                </li>
            </ul>
        </div>
    </header>
    <body ng-app="app">
      	
    	<div class="post-content">
       		<p ng-bind-html="post.content"></p>
       	</div>
    	<div ng-controller="SatistikCtrl">
		    <canvas id="pie" class="chart chart-pie"
 				 chart-data="data" chart-labels="labels" chart-legend="true" chart-options="options">
			</canvas> 
		</div>
	</body>
</section>
